__pycache__/
.pytest_cache/
*.pyc
docs/
classify/
profile/
builds/
reports/
resources/
runs/
DB/
results/**
!results/README.md
!results/builds/
!results/builds/README.md
!results/classify/
!results/classify/README.md
!results/profile/
!results/profile/README.md
